<?xml version="1.0"?>
<config>
  <modules>
    <Chargeback_Auth>
      <version>1.1.4</version>
    </Chargeback_Auth>
  </modules>
  <global>
    <blocks>
      <chargeback_auth>
        <class>Chargeback_Auth_Block</class>
      </chargeback_auth>
    </blocks>
    <models>
      <chargeback_auth>
        <class>Chargeback_Auth_Model</class>
      </chargeback_auth>
    </models>
    <helpers>
      <chargeback_auth>
        <class>Chargeback_Auth_Helper</class>
      </chargeback_auth>
    </helpers>
  </global>
  <adminhtml>
    <events>
      <controller_action_predispatch_adminhtml>
        <observers>
          <check_api>
            <class>chargeback_auth/observer</class>
            <method>system_configuration_view</method>
          </check_api>
        </observers>
      </controller_action_predispatch_adminhtml>
    </events>
    <layout>
      <updates>
        <chargeback_auth>
          <file>chargeback/auth.xml</file>
        </chargeback_auth>
      </updates>
    </layout>
  </adminhtml>
  <default>
    <chargeback>
      <general>
        <url>https://app.chargeback.com/</url>
        <completed>false</completed>
      </general>
    </chargeback>
  </default>
</config>
